<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="tarefas">
        <h1>Lista de Tarefas</h1>
        <form method="post">
            <input type="text" name="tarefa" class="text-box">
            <input type="submit" name="acao" value="Inserir" class="btn">
        </form>
        <% for(let i = 0; i < tarefasList.length; i++){ %>
            <p><%= tarefasList[i] %>  <a href="/deletar/<%= i%>">X</a></p>
        <% } %>
    </div>
</body>
</html>
